<h1>New Membership:</h1>

<p>Expose only one of the forms?</p>
<% if @artist.group? %>
  <%= form_for(@artist.member_relations.build, url: :artist_memberships) do |f| %>
    <div><%= hidden_field_tag :group_id, @artist.id %></div>
    <%= f.select :member_id, Artist.where(individual: true).collect {|a| [a.name, a.id]} %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <%= form_for(@artist.group_relations.build, url: :artist_memberships) do |f| %>
    <div><%= hidden_field_tag :member_id, @artist.id %></div>
    <%= f.select :group_id, Artist.where(individual: false).collect {|a| [a.name, a.id]} %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
<% end %>
