<div class="nested-fields">
  <li>
    <%= f.label :release_id %>
    <%= f.select :release_id, ['','']+ Release.all.collect {|a| [a.name, a.id]}, {}, class: 'selectize-me' %>
    <%= f.label :role %>
    <%= f.text_field :role %>
    <%= link_to_remove_association "Remove", f, data: { confirm: 'Are you sure you want to delete this association?' } %>
  </li>
</div>

