<% remote = remote || false %>
<%= form_for @artist, remote: remote  do |f| %>
    <%= render 'shared/error_messages', object: @artist %>

    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :description %><br>
    <%= f.text_area :description %>

    <%= render 'contributions_form', f: f %>

    <%= f.label :individual, class: 'checkbox inline' do %>
        <%= f.check_box :individual %>
        <span>Is this artist an individual?</span>
    <% end %>

    <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
