<div class='row'>
  <h1 class='title'>Artists</h1>
</div>
<div class='row'>
  <div class='col-md-8 col-md-push-2'>
    <center><%= link_to 'New Artist', new_artist_path, class: 'btn btn-primary' %></center>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      <% @artists.each do |artist| %>
        <tr>
        <td><%= link_to artist.name, artist %></td>
        <td><%= artist.description %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
  </div>
  <aside class='col-md-2 col-md-pull-8'>
    <%= render 'filter' %>
  </aside>
  <%= render 'shared/ads' %>
</div>
