<div class='row'>
  <h1 class='title'><%= @artist.name %></h1>
</div>
<div class='row'>
  <%= render 'sidebar' %>
  <div class='col-md-9'>
    
    <%= render 'releases' %>

    <%= render 'members' if @artist.group? %>
    
    <%= render 'groups' if @artist.individual? %>

  </div>
</div>
