<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artist.description %>
</p>

<p><strong>Releases:</strong></p>
<ul>
  <% for release in @artist.releases %>
  <li><%= link_to release.name, release_path(release.id) %></li>
  <% end %>
  <li><%= link_to 'Add Release', new_release_path %></li>
</ul>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
