<h1>New Group Membership:</h1>
<h2>for <%= @member.name %></h2>

<%= form_for(@member.member_relations.build, url: artist_groups_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :band_id %>
  <%= f.select :band_id, Artist.where(individual: false).collect { |g| [g.name, g.id] } %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
