<h1>New Group Membership:</h1>
<h2>for <%= @member.name %></h2>

<%= form_for(@membership) do |f| %>
  <%= f.hidden_field :member_id, value: @member.id %>
  <%= f.label :band_id %>
  <%= f.select :band_id, Artist.where(individual: false).collect { |g| [g.name, g.id] } %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
