<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for(@user) %>  
        <%= @user.name %>
      </h1>
      <p><%= @user.email %></p>
    </section>
  </aside>
  <div class="col-md-4">
    <h1>Notifications</h1>
    <ul>
      <% @user.notices.each do |notice| %>
        <li>
          <%= link_to notice.notification.release.name, release_path(notice.notification.release) %> 
          (<%= notice.notification.release_date.date %>) | 
          <%= link_to 'Dismiss', user_notice_path(@user, notice), method: :delete, data: { confirmation: 'Are you sure?' }%>
        </li>
      <% end %>
    </ul>
    <h1>Follows</h1>
    <ul>
      <% @user.following.each do |artist| %>
        <li><%= link_to artist.name, artist_path(artist) %></li>
      <% end %>
    </ul>
    <% if @user.following.empty? %>
      <p>Is Not following anyone yet!</p>
    <% end %>
  </div>
</div>
