<h1>New Contribution</h1>

<h2><%= @artist.try(:name) %><%= @release.try(:name) %></h2>

<%= form_for @contribution do |f| %>
  
  <% if params[:release_id] %>
    <%= f.hidden_field :release_id, value: params[:release_id] %>
  <% else %>  
    <%= f.label :release %>
    <%= f.select :release, Release.all.collect { |r| [r.name, r.id] } %>
  <% end %>
  
  TODO: add the smart form stuff for the artist

<% end %>
