<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @contribution.artist.name %>
</p>

<p>
  <strong>Release:</strong>
  <%= @contribution.release.name %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
