<div class="nested-fields">
  <li>
    <%= f.label :artist_id %>
    <%= f.select :artist_id, Artist.all.collect { |a| [a.name, a.id] }, {}, class: 'selectize-me' %>
    <%= f.label :role %>
    <%= f.text_field :role %>

    <%= link_to_remove_association "Remove", f, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  </li>
</div>
