<div class="nested-fields">
  <li>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <%= f.label :region %>
    <%= f.text_field :region %>
    <%= f.hidden_field :id %>
    <%= link_to_remove_association "Remove", f, data: { confirm: 'Are you sure?' } %>
  </li>
</div>

