<div class="nested-fields">
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :country %>
  <%= f.text_field :country %>
  <%= f.hidden_field :id %>
  <% # link_to_remove_assocation "Remove", f %>
</div>

