<div class='row'>
    <h1><%= @release.name %></h1>
</div>
<div class='row'>
    <div class='col-md-6 col-md-push-3'>
        <div class='tabpanel'>
            <!-- Nav Tabs -->
            <ul id='release-tabs' class='nav nav-tabs' role='tablist'>
                <li role='presentation' class='active'>
                <a href='#information' aria-controls='information' role='tab' data-toggle='tab'>Information</a>
                </li>
                <li role='presentation' class=''>
                <a href='#artists' aria-controls='artists' role='tab' data-toggle='tab'>Artists</a>
                </li>
            </ul>
            <!-- Tab Panels -->
            <div class='tab-content'>
                <div role='tabpanel' class='tab-pane fade in active' id='information'>
                    <h2>Release Dates:</h2>
                    <ul>
                        <% @release.release_dates.each do |rd| %>
                            <li><%= rd.date %> <%= rd.region %></li>
                        <% end %>
                    </ul>
                    <p><%= @release.description %>
                </div>
                <div role='tabpanel' class='tab-pane fade' id='artists'>
                    <%= render 'artists' %>
                </div>
            </div>
        </div>
    </div>

    <%= render 'sidebar' %> 
    <%= render 'shared/ads' %>
</div>
</div>

