<div class='row'>
  <div class='col-md-3'>
    <p>
      (eventual picture)
    </p>

    <p>
      <strong>Name:</strong>
      <%= @release.name %>
    </p>

    <p>
      <strong>Dates:</strong>
      <ul>
        <% @release.release_dates.each do |rd| %>
          <li><%= rd.date %> <%= rd.region %></li>
        <% end %>
      </ul>
    </p>
    
    <%= link_to 'Edit', edit_release_path(@release) %>
  </div>
  <div class='col-md-6'>
    <h1><%= @release.name %></h1>
    <p>
      <strong>Description:</strong>
      <%= @release.description %>
    </p>
    
    <%= render 'artists' if @release.has_artists? %>

  </div>
</div>

