<h1>New member for <%= @group.name %></h1>

<%= form_for(@membership, url: artist_member_path, method: :patch) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.select :member_id, Artist.where(individual: true).collect { |a| [a.name,a.id] } %>
  
  <%= f.label :role %>
  <%= f.text_field :role %>

  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>

