<div class='row'>
    <h1>Add member</h1>
</div>
<div class='row'>
    <div class='col-md-8 col-md-push-2'>
        <h2>for <%= @group.name %></h2>
        <%= form_for(@group.member_relations.build, url: artist_members_path) do |f| %>
            <%= render 'shared/error_messages', object: @membership %>

            <%= f.label :member_id %>
            <%= f.select :member_id, Artist.where(individual: true).collect { |a| [a.name,a.id] }, {}, class: 'selectize-me' %>

            <%= f.label :role %>
            <%= f.text_field :role %>

            <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <% end %>

        <br>
        <%= link_to 'Go back', @group %>

    </div>
    <%= render 'shared/ads' %>
</div>
